.navbar {
  background-color:#673AB7;
  background-image: none;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  top:0;
  z-index: 999999;

 }
 .navbar-brand h1{
       font-size: 2.5vw;
 }
 .custom-btn{
      background: #fff;
 }
