.sidebar{
    width:15vw;
    height: 100vh;
    background-color: #1f2126;
    top:0;
    position: fixed;
}
.nav{
    padding-top: 15vh;
}
.nav li{
    margin-bottom: 2.5vh;

}
.nav-item a{
    font-size: 2.0vw;
    color:#fff;

}
.nav-item a:hover{
    font-size: 2.0vw;
    background-color: #A9A9A9;
    width:15vw;
    text-align: left;
}
